# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf # crlf might have been better
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120 # default: 80, changes in .prettierrc
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
